@media (min-width: #{$desktop-width}) {
   .forms{
      
      min-width:100%;
      
		border-collapse: collapse;
      
      input {
   	width: 50%;
   	height: auto;
   	margin: 8px auto;
   	border: 1px solid black;
   	border-radius: 4px;
      display: block;
   
      }
      
      
      th, td {
          text-align: left;
          padding: 8px;
      }
      
      td > a{
         text-decoration:none;
      }
      #resultsHeader{
         background-color: #4CAF50;
          color: white;
      }
      
      #resultsBody{
         font-family: helvetica, arial;
         color: #333;
      }
      .remember{
         display:grid;
         width:30%;
         margin:auto;
         grid-template-columns: 1fr 4fr;
      }
   
   }
   
   #results{
		height:45px;
		background:#f7f7f7;
		border:none;
		
		
		&:hover {background-color: #ddd;}
		img{
		   height:100%;
		}
	}
	
	#results:nth-child(odd){
		background:#efefef;
		&:hover {background-color: #ddd;}
	}
	
	
	

}